* {
    margin: 0;
}

html,
body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url(img//Mobile.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 1812px;
    height: 120vw;
}

.container {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--grey);
}

.avatar {
    width: 20rem;
    margin: 11.5rem auto 0;
    position: relative;
}

.avatar span {
    position: absolute;
    top: 15px;
    z-index: 40;
}

.avatar>img {
    width: 10rem;
    height: 25.5rem;
    object-fit: cover;
   clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

h1 {
    font-size: 2rem;
    margin-top: 4rem;
}

a {
    color: var(--grey);
    text-decoration: none;
    margin-top: 2rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

p {
    margin-top: 3rem;
    font-size: 23px;
}

ul {
    margin-top: 2rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
